/*
Name: Interface Design - Exam
Author: Ralf Patrik Blaga, Johannes Skjærbæk
Author URI: particledesigns.dk
Description: KEA Web Development 2017 Spring, 2nd semester Interface Design Exam project.
Version: 1.0
*/

@import "base/variables";
@import "base/global";

@import "layout/admin";
@import "layout/adminmodal";
@import "layout/index";
@import "layout/mobile";
