

/* --------------- ADMIN --------------- */

#wdw-admin {
  .wdw-admin-picker {
    display: none;
  }
  .wdw-login{

    text-align: center;
    #lblAdminLogin {

      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10%;
      margin-top: $gutter-v-double;
      background-color: $secondaryColor;

      input {
        margin: 2% 0;
        width: 50%;
        text-align: center;

        font-size: 1.25em;
      }

      input[type=submit] {
        width: 25%;
        padding: 2%;
        background-color: $tertiaryColor;
        border: none;
      }

      span {
        display: none;
      }
    }
    .admin-logout {
      display: none;
      font-family: $bodyFont;
      color: $black;
      text-decoration: none;
    }
  }

  .wdw-admin-picker {
    text-align: center;

    h3 {
      margin-top: $gutter-v-double;
    }

    ul {

      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: $gutter-v-double;

      li {
        list-style: none;
        padding: 3% 6%;
        background-color: $tertiaryColor;

        a {

          font-family: $bodyFont;
          color: $black;
          text-decoration: none;
          font-size: 1.5em;
        }

      }
    }
  }


  .pick-window {
    display: none;
  }


  .wdw-admin-list > div {
    padding-top: $gutter-v-double;
    .admin-list-item {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: $secondaryColor;
      margin-bottom: $gutter-v-double;
      padding: $gutter-v;
      h3 {
        margin: 0;
      }
      i {
      }
    }
  }
  .wdw-admin-list {

  }
  .wdw-partner-list > div {

  }
  .wdw-partner-list, .wdw-event-list {
    width: 75%;
    h4 {
      text-align: center;
    }
    .wdw-partner-create, .partner-item, .wdw-event-create, .event-item {
      background-color: $secondaryColor;
      color: $textColor;
      padding: $gutter-v-double $gutter-h-double;
      form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        div:nth-child(2) {
          width: 70%;
          div:nth-child(1){
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            input:first-child {
              margin-right: auto;
            }
          }
          div:nth-child(2){
            margin-top: $gutter-v;
            width: auto;
            textarea {
              width: 99.4%;
              resize: none;
            }
          }
        }
      }
      form > div:nth-child(1) {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .partner-list, .event-list {
      .partner-item, .event-item {
        margin-bottom: $gutter-v-double;
      }
    }
  }
}



