

/* --------------- CONTACT & ABOUT --------------- */


.contact-title {
  background-image: url("../img/contact.jpg");
  background-size: cover;
  background-position: center;
}

.about-title {
  background-image: url("../img/about.jpg");
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.contact-container {
  text-align: center;
  margin-top: $gutter-v-double;

  h2 {
    font-size: 2em;
    width: 60%;
  }

  .contact-text {
    width: 75%;
    margin: 1% 50%;
  }

  h3 {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 1.5em;
  }

  p {
    font-size: 1.25em;
    margin: 0;
  }

  .contact-info {
    margin-top: $gutter-v-double;
  }
}

.about-container {
  text-align: center;
  margin-top: $gutter-v-double;

  .note {
    margin-top: 5%;
  }

  p {
    font-size: 1.25em;

  }

  span {
    font-weight: bold;
  }
}
