/* --------------- Partner Template --------------- */

.partner-logo {
  width: 20%;

  img {
    width: 100%;
  }
}

.partner-title {
  background-image: url("https://images.pexels.com/photos/1984/black-and-white-city-man-people.jpg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-size: cover;
  background-position: center;

  h2 {
    background-color: $tertiaryColor;
    display: inline-block;
    padding: 1%;
    border-radius: 10px;
  }
}

.partner-content {
  margin-top: $gutter-v-double;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .partner-desc {
    width: 60%;

    h3 {
      font-size: 2em;
    }
  }

  .partner-info {

    h3 {
      font-size: 2em;
    }
    width: 30%;
    text-align: center;
  }
}

.event-partners-wrap {

  width: 100%;
  margin-top: $gutter-v-double;

  .event-partners {
    display: flex;
    flex-direction: row;
    justify-content: center;


    img {
      width: 20%;
      height: 100%;

    }
  }
}


footer {
  height: 2px;
  width: 100vw;
  background-color: $secondaryColor;
  position: fixed;
  bottom: 0;
}
